@font-face {
  font-family: "ITCAvantGardeGothicStd";
  src: url("../fonts/ITCAvantGardeGothicStd/ITCAvantGardeStd-BoldObl.otf");
}

/* Reset */
*, 
*::before, 
*::after {
	box-sizing: border-box;
}

* {
	border: none;
	padding: 0;
	margin: 0;
}

body, html {
	width: 100%;
	font-size: 20px;
	font-family: 'ITCAvantGardeGothicStd', sans-serif;
	line-height: 1.6;
	font-weight: 500;
	color: #F3F4F6;
}

ul, ol {
	list-style-type: none;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}
button, input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
	color: inherit;
}

input:focus, input:active,
button:focus, button:active {
	outline: none;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

.container {
	width: 100%;
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	font: inherit;
	border-radius: 100px;
	line-height: 1.5;
	color: #101C26;
}