@font-face {
  font-family: "ITCAvantGardeGothicStd";
  src: url("../fonts/ITCAvantGardeGothicStd/ITCAvantGardeStd-BoldObl.otf");
}

.header {
	padding: 36px 0 61px;
	background: url("../images/header-background.png") no-repeat #101C26;
	background-size: container;
	background-position: 50% 0%;
}

.header_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 28px;
}

.logo {

}



.logo__img {
	width: 97px;
}

.menu {
	display: flex;
	justify-content: space-between;
	gap: 0 163px;
	font-size: 16px;
}

.menu_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 40px;
	color: #BAB9B9;
}

.list_item {
	position: relative;
}

.list_item::after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #FFFFFF;
	content: "";
	transition: width .3s ease;
}

.list_item:hover:after {
	width: 100%;
}

.list_item_link {

}
.btn_container {
	display: flex;
	gap: 0 16px;
	align-items: center;
}



.btn--transparent {
	padding: 13px 32px;
	border: 1px #CECECE solid;
	color: #CECECE;
	transition: opacity .5s ease;
}

.btn--transparent:hover {
	opacity: 0.6;
}

.btn--yellow {
	background-color:rgba(240, 231, 20, 1);
	color: #101C26;
	padding: 13px 39px;
	transition: opacity .5s ease;
}

.btn--yellow:hover {
	opacity: 0.6;
}

.home {
	padding-top: 44px;
	
}

.home_container {
	display: flex;
	padding-bottom: 94px;
}

.home_info {
	padding: 57px 80px 0 0;
	width: 100%;
	max-width: 714px;
	position: relative;
}

.home_info_img {
	position: relative;
}

.home_info_img:after {
	content: "";
	position: absolute;
	background-color: #EDB32D;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	top: -32px;
	left: 16px;
}

.home_info h2 {
	font-weight: 700;
	font-size: 60px;
	line-height: 1.1;
	color: #F3F4F6;
}

.home_info_text {
	padding: 26px 0 40px;
	max-width: 400px;
}

.home_statistics {
	padding-top: 75px;
}
.statistics_list {
	max-width: 444px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.statistics_item {
	
}
.statistics_number {
	text-align: center;
	font-size: 44px;
	font-weight: 600;
	color: #F0E714;
	line-height: 1.3;
}

.statistics_number span {
	font-size: 27px;
	line-height: 2;
}

.statistics_text {
	font-size: 16px;
	color: #FFFFFF;
}

.play_link {
	display: flex;
	align-items: center;
	gap: 0 12px;
	transition: opacity .3s ease;
}

.play_link:hover {
	opacity: 0.7;
}

.play {
	width: 30px;
	height: 30px;
}
.arrow {
	width: 24px;
	height: 16px;
}

.btn_container .btn--yellow {
	display: flex;
	align-items: center;
	gap: 0 10px;
}

.sponsors {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.star_icon {
	width: 38px;
	height: 38px;
	fill: #F0E714;
	position: absolute;
	right: 175px;
	top: 200px;
}

.market {
	background-color: #fff;
	padding: 20px 16px;
	position: absolute;
	z-index: 10;
	bottom: 65px;
	left: -105px;
	font-family: "Manrope", sans-serif;
	border-radius: 7px;
}

.market h4 {
	display: inline;
	color: #101C26;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	padding: 2px 8px;
	border-radius: 100px;
	background-color: #fff955;
}

.market h3 {
	padding-top: 18px;
	font-size: 16px;
	line-height: 1;
	color: #24272E;
	font-weight: 600;
}

.market img {
	margin-top: 16px;
}

.market_calendar {
	display: flex;
	justify-content: space-between;
}

.market_calendar span {
	font-size: 12px;
	line-height: 1.5;
	font-weight: 500;
	color: #24272E;
	padding: 2px 7px;
	border-radius: 0;
	background-color: transparent;
}

.market_calendar .active {
	background-color: #F7F289;
	border-radius: 9px;
}




.about {
	font-family: "Inter", sans-serif;
	padding-top: 140px;
	font-weight: 400;
}

.about_inner {
	display: flex;
}

.about_img {
	max-width: 620px;
	width: 100%;
	min-height: 444px;
	height: 100%;
	position: relative;
	z-index: 10;
}

.about_img:after {
	content: url("../images/section decor.png");
	position: absolute;
	width: 182px;
	height: 182px;
	z-index: -1;
	left: -43px;
	bottom: -49px;
}

.about_inner .section_info {
	padding: 53px 0 0 30px;
}

.section_info {

}

.section_suptitle {
	display: inline;
	padding: 10px 16px;
	font-size: 16px;
	text-transform: uppercase;
	color: #24272E;
	background-color: rgba(240, 231, 20, 0.2);
	border-radius: 100px;
}

.section_title {
	font-family: "ITCAvantGardeGothicStd", sans-serif;
	padding-top: 24px;
	color: #24272E;
	font-weight: 600;
	font-size: 44px;
	line-height: 1.3;
}

.section_text {
	padding: 16px 0 40px;
	color: #555C68;
	line-height: 1.5;
	max-width: 508px;
}

.btn--black {
	background-color: #24272E;
	color: #F0E714;
	padding: 14px 34px 10px 34px;
	font-size: 14px;
}
.btn--black .arrow {
	fill: #F0E714;
}

.peculiarities {
	padding-top: 140px;
}

.peculiarities_inner {
	display: flex;
	justify-content: space-between;
}
.peculiarities_list {
}
.peculiarities_list_item {
	display: flex;
}

.peculiarities_list_item img {
	width: 68px;
	height: 68px;
	border-radius: 50%;
}

.peculiarities_info {
	padding-left: 24px;
}

.peculiarities_info .section_title {
	font-size: 20px;
	line-height: 1.6;
	letter-spacing: -1.1%;
	padding: 0;
}

.peculiarities_info .section_text {
	font-size: 16px;
	line-height: 1.6;
	padding-top: 2px;
}

.peculiarities_img {
	width: 100%;
	max-width: 624px;
	height: 100%;
	max-height: 653px;
	position: relative;
	z-index: 10;
}

.peculiarities_img:after {
	content: url("../images/section decor.png");
	position: absolute;
	z-index: -1;
	bottom: -55px;
	right: -44px;
}

.searvices {
	padding-top: 140px;
}

.searvices_inner {
	text-align: center;
}
.section_info p {
	max-width: 664px;
	margin: 0 auto;
}
.searvices_list {
	padding-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.searvices_list_item {
	max-width: 297px;
	padding: 32px;
	background-color: #fff;
	margin-bottom: 30px;
	transition: box-shadow .3s ease;
}

.searvices_list_item:hover {
	box-shadow: 0px 30px 50px -10px rgba(152, 151, 151, 0.37);
}

.searvicess_list_item img {
	border-radius: 50%;
}

.searvices_list_item h4 {
	font-size: 24px;
	line-height: 1.6;
	max-width: 210px;
}

.searvices_list_item p {
	font-size: 18px;
}

.searvices_info {

}


.project {
	padding-top: 120px;

}

.project_inner {

}

.project_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 58px;
}

.project-button-wrapper {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

.swiper-button-next,
.swiper-button-prev {
	position: relative !important;
	border: 3px #828282 solid;
	border-radius: 50%;
	margin: 0 10px;
	width: 43.2px !important;
	height: 43.2px !important;
	transition: .3s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 18px !important;
	color: #828282;
	padding: 20px 0;
	position: absolute;
	left: 7px;
	transition: .3s ease;
}

.swiper-button-next:after {
	left: 24px;
}


.swiper-button-next:before,
.swiper-button-prev:before {
	content: "";
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-75%);
	border-radius: 10px;
	width: 12px;
	height: 3px;
	padding: 0 12px;
	background-color: #828282;
	transition: .3s ease;

}
.swiper-button-prev:before {
	left: 8px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	border-color: #636770;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
	color: #636770;
}

.swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
	background-color: #636770;
}

.swiper-slide {
	max-width: 540px;
}

.project_img {
	max-width: 540px;
	max-height: 641px;
}

.project_title {
	font-weight: 500;
	font-size: 34px;
	line-height: 0.82;
	color: #24272E;
	padding-top: 40px;
}

.project_text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	color: #555C68;
	padding: 20px 0 16px;
}


.project_link {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	color: #24272E;
	transition: .5s ease;
}

.project_link:hover {
	color: #24272e;
	opacity: 0.7;
}

.project_link .arrow {
	transform: scale(0.8);
}
.testimonial {
	padding-top: 140px;
}

.testimonial_inner {
	text-align: center;
}

.testimonial_inner .section_text {
	padding-bottom: 80px;
}

.testimonial_slider {
	max-width: 1420px;
	max-height: 406px;
	overflow: hidden;
	margin: 0 auto 82px;
}

.testimonial_slider_carousel {
	width: 2362px;
	display: flex;
	position: relative;
	left: 435px;
	gap: 0 30px;
	margin-top: 32px;
}

.testimonial_info {
	max-width: 568px;
	max-height: 406px;
	padding: 32px 60px;
	background-color: #fff;
	filter: drop-shadow(0 25px 32px rgba(67, 67, 67, 0.14));
	transition: .5s ease;
}

.testimonial_info--active {
	transform: translateY(-32px);
}
.testimonial_autor {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
.testimonial_autor_name {
	text-align: center;
	font-size: 14px;
	line-height: 1.71;
	color: #000;
	margin: 10px 0 4px;
}
.testimonial_autor_proffesion {
	font-size: 12px;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	text-align: center;
	color: #8791A0;
	margin-bottom: 4px;

}
.testimonial_star_wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	margin-bottom: 10px;
}
.testimonial_star {
	width: 16px;
	height: 16px;
	fill: #F37825;
}

.testimonial_star path {
	fill: black;
}

.testimonial_star--gray {
	fill: gray;
}
.testimonial_text {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.9;
	letter-spacing: -1.1%;
	text-align: center;
	color: #555C68;
}

.testiomonial_pagination {
	display: flex;
	gap: 0 16px;
	justify-content: center;
}

.dot {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #D2D2D2;
	transition: 0.5s ease;
	cursor: pointer;
}

.dot:hover, .dot.active {
	width: 20px;
	height: 20px;
	background-color: #101C26;
}

.contacts {
	margin-top: 140px;
	background-color: #fff;
}
.contacts_inner {
	padding: 100px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contacts_info {
	max-width: 510px;
	padding-left: 44px;
}
.contacts_info .section_title {
	font-size: 34px;
	line-height: 1.3;
}

.contacts_info .section_text {
	font-size: 16px;
	line-height: 1.5;
	color: #555C68;
}
.contacts_data {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 254px;
}
.contacts_address, .contacts_phone, .contacts_mail {
	display: flex;
	font-family: "Inter", serif;
	font-style: normal;
	font-size: 14px;
	line-height: 1.2;
	color: #555C68;
}
.contacts_mail {
	transition: .5s ease;
}
.contacts_mail:hover {
	opacity: 0.8;
	color: #555C68;
}

.contacts_address div, .contacts_phone div, .contacts_mail div {
	display: flex;
	width: 16px;
	height: 16px;
	align-items: center;
	justify-content: center;
}

.contacts_address span,
.contacts_phone span {
	margin-left: 15px;
	opacity: 0.9;
}

.contacts_mail span {
	margin-left: 13px;
}

.contacts_icon {
	fill: #101C26;
}

.contacts_address .contacts_icon {
	width: 10px;
	height: 12px;
}

.contacts_phone .contacts_icon {
	width: 10px;
	height: 14px;
}

.contacts_mail .contacts_icon {
	width: 13px;
	height: 11px;
}

.contact_form {
	border-radius: 10px;
	background-color: #101C26;
	padding: 60px 140px 60px 80px;
	width: 100%;
	max-width: 620px;
}
.form_data {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.form_data label, .form_data input::placeholder {
	font-family: "Inter", serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.7;
	color: #D3D3D3;
	text-transform: capitalize;
}

.form_data label {
	margin-bottom: 10px;
}

.form_data input {
	width: 100%;
	color: #fff;
	font-family: "Inter", serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 10px;
	border-bottom: 1.5px solid #D3D3D3;
	background-color: transparent;
	transition: 0.5s ease;
}

.form_data input:focus {
	border-bottom: 1.5px solid #fff;
}



.form_sub input {
	padding: 13px 60px;
	border-radius: 50px;
	background-color: #F0E714;
	font-family: "Inter", serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	display: inline-block;
	color: #101C26;
	margin-top: 64px;
}
.footer {
	background-color: #101C26;
	padding-bottom: 57px;
}
.footer_inner {
	padding: 78px 0 63px;
	border-bottom: 1px solid #989898;
	display: flex;
	justify-content: space-between;
}
.footer_info {
	max-width: 329px;
}
.footer_info p {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #f5f5f5;
	opacity: 0.9;
	margin: 25px 0 20px;
}
.social {
	display: flex;
	gap: 0 16px;
	align-items: center;
}
.social_item {
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background-color: #F0E714;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social_item svg {
	fill: #101C26;
}

.social_icon--linkedin {
	width: 13.73px;
	height: 13.74px;

}
.social_icon--facebook {
	width: 6.9px;
	height: 13.11px;
}
.social_icon--twitter {
	width: 13.8px;
	height: 11.73px;
}

.footer_links {
	max-width: 729px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}

.footer_section_title {
	font-size: 20px;
	line-height: 1.4;
	opacity: 0.9;
	color: #f5f5f5;
	margin-bottom: 20px;
}
.footer_links_list {
	height: 100%;
	max-height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer_link_item {
}
.footer_link {
	font-size: 16px;
	line-height: 1.2;
	color: #b3b3b3;
	transition: 0.5s ease;
}

.contacts_icon--footer {
	fill: #F0E714;
}


.footer_contacts {
	opacity: 0.9;
	font-size: 16px;
	line-height: 1.5;
	color: #b3b3b3;
	max-width: 233px;
}
.footer_address {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	font-style: normal;
}
.footer_address div, .footer_phone div, .footer_mail div {
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
}
.footer_address .footer_icon {
	width: 10px;
	height: 12px;
}

.footer_phone {
	margin: 18px 0 30px;
	display: flex;
}
.footer_phone .footer_icon {
	width: 10.28px;
	height: 13.72px;
}

.footer_mail {
	display: flex;
}

.footer_mail span {
	transition: .5s ease;
}
.footer_mail:hover span {
	opacity: 0.6;
}
.footer_mail .footer_icon {
	width: 13.33px;
	height: 10.67px;
}
.footer_icon {
	fill: #F0E714;

}

